{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AlphaGoal </title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
<!--nav bar -->
<div class="nav-bar">
    <nav class="nav">
        <ul class="nav-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">About-Me</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>
</body>
</html>